@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply
    scrollbar-none
    ;
}

.bg-vignette{
    position: relative;
    overflow: hidden;
}

.bg-vignette::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0.7) 100%);
    pointer-events: none;
}

.boxShadow {
    box-shadow: 
    0 0 5px var(--primary-color),
    0 0 25px var(--primary-color)
}

.inputFocus:focus {
    box-shadow: 0 0 10px #FFFFFF;
}

.glass {
    @apply
    bg-opacity-20
    backdrop-blur-sm
    ;
}
